:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  :global(.svelte-flow__node.custom-style) {
    background: #63b3ed;
    color: white;
    width: 100;
  }

  :global(.svelte-flow__node.circle) {
    background: #2b6cb0;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  :global(.annotation) {
    border-radius: 0;
    text-align: left;
    background: white;
    border: none;
    line-height: 1.4;
    width: 225px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  }

  :global(.annotation .svelte-flow__handle) {
    display: none;
  }
}
